<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body>
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index width mx-auto px2 my4">
        <!--<% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %> -->
        <%- partial('_partial/header') %>
        <%- body %>
    </div>
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_mobile') %>
    <% } %>
    <%- partial('_partial/footer') %>
    <script type="text/javascript" color="43,188,138" opacity="0.5" zindex="-2" count="36" src="js/canvas-nest.js"></script>    <!-- 背景蒲公英 -->
    <!-- <embed width="200" height="200" align="middle" src="http://images.cnblogs.com/cnblogs_com/csharp/clock.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"> --> <!-- clock -->
    <script>
    (function() {
        var OriginTitile = document.title, titleTime;
        document.addEventListener('visibilitychange', function() {
            if (document.hidden) {
                document.title = '客官，您还回来吗？';
                clearTimeout(titleTime);
            } else {
                document.title = '客官，欢迎您回来～';
                titleTime = setTimeout(function() {
                    document.title = OriginTitile;
                },2000);
            }
        });
    })();
    </script>
</body>
</html>
<%- partial('_partial/styles') %>
<%- partial('_partial/scripts') %>
